@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body{
    margin: 0;
}
:root{
    --montserrat: 'Montserrat', sans-serif;
    --opensans:'Open Sans', sans-serif;
    --purple-dark: #5F546E;
    --purple-light: #827593;
    --gray-light: #E5E3E8;
    --gray-dark: #A5A2A9;
    --light: #fcf8fb;
    --transition: all 150ms cubic-bezier(.46, 1.13, .67, .87);

}
.container{
   
    max-width: 1200px;
    margin: auto;
    padding: 0px 15px;
    margin: auto;
    box-sizing: border-box;

  
}

.logo_rapper{
    text-align: center;
    background-color: rgb(192, 236, 176);
    padding: 40px 0px;
   
}
.logo_rapper img{
    width: 320px;
}
.nav_list{
    background-color: rgb(184, 239, 220);
    display: flex;
 align-items: center;
 justify-content: space-between;
    gap: 60px;
    margin: 0;
    padding: 20px 20px;
    list-style-type: none;
    justify-content: center;
    
}
.nav_item{
    text-decoration: none;
    color: rgb(62, 55, 55);
    font-family: var(--montserrat);
    transition-duration: .3s ;
    
}
.nav_item:hover{
    color:rgb(214, 68, 204) ;
}
.banner{
    background-image: url("../images/coad\ pic.jpeg");
 height: 100vh;
 width: 100%;
 padding-top: 20px;
    color: rgb(209, 207, 205);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_contant{
    text-align: right;
position: absolute;
top: 70px;
right: 50px;


}

.banner_heading{
   padding-top: 80px;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.second_content{
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 35px;
  
    margin-bottom: 5px;
    min-height: 51.2px;
}

.banner_contant {
    text-align: right;

}
.banner_button{
    color: rgb(0, 0, 0);
    text-decoration:none;
    font-family: var(--montserrat);
    display: inline-block;
    background-color: rgb(114, 227, 33);
    padding: 20px 25px;
    border-radius: 25px;
}
.masg_btn{
 
    height: 60px;
    width: 60px;
    background-color: rgb(222, 155, 11);
    color: aliceblue;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50px;
position:fixed;
bottom: 40px;
right: 20px;

animation-name: bounce;
animation-duration: 1.2s;

animation-fill-mode: both;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;

}
@keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(30px);
    }
}
.masg_btn i{
 font-size: 30px;
 font-weight: 700;
}

/* clock section starts */

.clock-container {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    background-color: var(--purple-dark);
    position: fixed;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.825);
}
.clock-container .hours span {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
   padding-top: 10px;
  
}
.clock-container .minutes span {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
   padding-top: 10px;
  
}
.clock-container .seconds span {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
   padding-top: 10px;
  
}

.clock-container p {
    font-size: 30px;
    color: var(--light);
    font-weight: 100;
    transform: translateY(-8px);
    margin-top: 20px;
  
}

.clock-container p:first-letter {
    letter-spacing: 5px;
}
/* .clock-container p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: var(--purple-dark);
    letter-spacing: .5px;
    cursor: pointer;
} */
.clock .bottom {
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #aaa4b2;
    margin-left: 0px;
}
.clock .bottom .progress-bar {
 height: 7px;
 background-color: rgb(70, 70, 70);

 border-radius: 10px;
 margin-left: 0;
}
.colon {
    --size: 3px;
    width: var(--size);
    height: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.colon::before {
    content: '';
    width: 100%;
    height: var(--size);
    background-color: #9892a3;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.colon::after {
    content: '';
    width: 100%;
    height: var(--size);
    background-color: #9892a3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}





/* clock section ends */

.banner_button:hover{
    color: black;
    background: wheat;
    text-decoration: .3s;
    font-weight: bold;
}
.heading_rapper{
    text-align: center;
    margin-bottom: 30px;
}
.heding_title{

    font-family: var(--montserrat);
    font-size: 32px;
    margin-bottom: 10px ;margin-top: 10px;
}
.heading_description{
    font-family: var(--opensans);
    font-size: 14px;

}
.service{
    background-color: #f9efef;
    padding: 100px 0px;
  
}
.service_list{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
  
}
.single_service{
   
    padding: 50px 15px 30px 15px;
    background-color: white;
    border-radius: 5px;
 
}
.single_service i{
    font-size: 40px;
    color: rgb(50, 145, 145);
}
.service_heading{

    font-family: var(--montserrat);
    font-size: 22px;
}
.service_pg{
    font-family: var(--opensans);
    font-size: 14px;

}
.single_service:hover{
    background-color: rgb(69, 68, 68) ;
    transition-duration: .5s;
}
.single_service:hover i,
.single_service:hover h3,
.single_service:hover p{
    color: rgb(165, 137, 85) ;

}
.about{
    padding: 100px 0px;
    
}
.about_content{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 30px;
}
.about_image{
    padding-top: 20px;
    flex-basis: 45%;
   
}
.about_image img{
    width: 100%;
    border-radius: 5px;
}
.about_description{
    flex-basis: 45%;
    padding-left: 10px;
}
.about_h{
    font-family: var(--montserrat);
    text-transform: capitalize;
}
.about_p{
    font-family: var(--opensans);
    margin-bottom: 40px;
    color: rgb(17, 17, 17);

}
.about_description_p{
    font-family: var(--opensans);
    color: rgb(17, 17, 17);
}
.about_description h3{
    font-family: var(--montserrat);
    text-decoration: underline;
}
.about_description ul{
    font-family: var(--opensans);
}
.portfolio{
    background-color: rgb(226, 229, 233);
    padding: 100px 0px;
}
.portfolio_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio_item img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    gap: 30px;

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn button{
    border: none;
    background-color: transparent;
  

}
.btn .dlt_btn{
  padding: 5px 5px;
  background-color: rgb(248, 137, 137); 
  border-radius: 5px;
  cursor: pointer;
}
.btn .edt_btn{
    padding: 5px 5px;
    background-color: rgb(137, 248, 167); 
    border-radius: 5px;
    cursor: pointer;
}

#my_quots{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
   
    background: url(https://library.uiu.ac.bd/uploads/book/default.jpg) no-repeat center center/ cover;
}

.header{
    font-size: 1.2rem;
    border: solid 2px #fff;
    color: #fff;
    background-color: #262626;
    padding: 5px;
    width: 500px;
    margin: 20px auto;
    border-radius: 5px;
}
.main_content{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}
.main_content .text_area{
    font-size: 1.5rem;
    line-height: 1.5;
}
.main_content .persons{
font-size: 1.6rem;
color: red;
text-transform: uppercase;
margin-top: 20px;
}

.button_area button{
    background-color: #262626;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button_area button:active{
    background-color: lightcyan;
}

/*stop watch section starts*/
.stopWatch{
    margin-top: 40px;
    padding-top: 40px;
    height: 450px;
  background: url(../images/water.jpg) no-repeat center center/cover ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.inner_watch{
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    transform: translateY(-40px);
}
#timer{

    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}
.stopWatch h4{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    transform: translateY(-40px);
}
.buttons{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.buttons button{
    margin: 0 10px;
    border: none;
 background-color: transparent;
}
.buttons button i{
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;

}
#play{
background-color: green;
}
#reset{
background-color: red;
}
#pause{
    background-color: orange;
}


/*stop watch section ends*/

.contact .heading_rapper{
    text-align: left;
}
.contact{
    padding-top: 70px;
    padding-bottom: 100px;
}
.contact_body{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    gap: 30px;
}
.name_email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 10px;
}
.contact_form{
    padding: 10px;
}
.contact_form input,
.contact_form textarea{
   width: 100%;
   box-sizing: border-box;
   padding: 10px;
   border: 0;
   border-bottom: 1px solid rgb(117, 116, 116);
}
.submit_button{
    width: 150px;
    background-color: rgb(98, 94, 94);
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    text-decoration: .3s;
}
.heading_rapper{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    
}
.contact_address_list li{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;

}
.contact_address_list li i{
    font-size: 20px;

}
.contact_address_list li p{
    margin: 0 ;
    font-family: var(--montserrat);
    font-size: 15px;
}
.submit_button:hover{
    background-color: rgb(37, 139, 29);
    color: rgb(16, 16, 16);
    transition-duration: .5s;
}
.display_table{
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
.display_table thead,
 .display_table tbody{
    width: 100%;
    display: block;
}
.display_table thead{
    background-color: #1acb5b;
    color: white;
}
 .display_table tbody tr,
 .display_table thead tr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.display_table th,
.display_table td{
   display: flex; 
   align-items: center;
   justify-content: center;
   width: 100%;
}
.display_table tbody tr:nth-child(odd){
    background-color: antiquewhite;
    color: black;
}
footer{
    background-color: rgb(234, 163, 76);
    padding: 50px 0px;
}
.footer_content{
    text-align: center;
    font-family: var(--opensans);
    font-size: 16px;
    color: white;
}
.footer_content ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

}
.footer_content ul li a i{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 40px;
}
.footer_content ul li a i:hover{
    color: white;
    background-color: rgb(224, 160, 82);
    transition-duration: .3s;
}
